/* 기본 설정  */
* {
	box-sizing: border-box;
	font-family: '맑은 고딕', Arial, sans-serif;
}

body {
	background-color: #f5f6f7;
	color: #333;
	padding: 40px;
}

/* 제목 */
h2 {
	width: 800px;
	margin: 0 auto 15px;
	padding-bottom: 10px;
	border-bottom: 2px solid #333;
}

/*  글 정보 영역 제목 아래 정보 */
h2 + div {
	width: 800px;
	margin: 0 auto 15px;
	font-size: 14px;
	color: #666;
	
}

/*구분선 */
hr {
	width: 800px;
	margin: 20px auto;
	border: none;
	border-top: 1px solid #ddd;
}

/*  내용  */
pre {
	width: 800px;
	margin: 0 auto;
	background: #fff;
	padding: 20px;
	border-radius: 6px;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
	white-space: pre-wrap;     /* 줄바꿈 유지 */
	word-break: break-word;   /* 긴 단어 줄바꿈 */
	font-size: 15px;
	line-height: 1.6;
}

/*  버튼 영역 */
hr + div {
	width: 800px;
	margin: 20px auto 0;
	display: flex;
	justify-content: flex-end;
	gap: 10px;
}

/* 버튼  */
button {
	padding: 8px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 14px;
}

/* 좋아요 버튼 */
button:first-child {
	align-content: center;
	background-color: #2ee659;
	margin-right:auto;
}

/* 목록으로 버튼 */
button:nth-child(2) {
	background-color: #555;
	color: #fff;
}

/* 수정 버튼 */
button:nth-child(3) {
	background-color: #ebc33f;
	color: #fff;
}
/*삭제 버튼*/
button:nth-child(4) {
	background-color: #d9534f;
	color: #fff;
}

/* hover 효과 */
button:hover {
	opacity: 0.9;
}
