div {
	width: 800px;
	margin: auto;
	text-align: center;
}
table {
	width: 800px;
	text-align: left;
	border-collapse: collapse;		
}

td,th {
	border : 1px solid #03C75A;
	padding: 10px;	
}

th {
	width: 130px;
	text-align: center;
	background-color: #03C75A;
	color: white;
}

#btn {
text-align: center;
}

h1 {
	color : #03C75A;	
}
